
:root{
    --color-primary: hsl(158, 36%, 37%);
    --color-secondary: hsl(158, 42%, 18%);

    --color-neutral-black: hsl(212, 21%, 14%);
    --color-neutral-grey: hsl(228, 12%, 48%);
    --color-neutral-cream: hsl(30, 38%, 92%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --font-family-primary: "Fraunces", serif;
    --font-family-secondary: "Montserrat", sans-serif;

    --font-weight-primary: 500;
    --font-weight-secondary: 700;
}

body{
    font-weight: var(--font-weight);
    font-family: var(--font-family-primary);
    /* font-size: 1rem; */
    background-color: var(--color-neutral-cream);
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

img{
    display: block;
    max-width: 100%;
}

.container{
    display: flex;
    max-width: 600px;
    background-color: var(--color-neutral-white);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 130px;
    
    
}

.picture-img, 
.content{
    flex: 1;

}
/* this makes the image 50% and text 50%, because all flex items inside the container will occupy the same space*/

.picture-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.content{
  padding: 1.8rem;
}

.content p, .content h1 {
    margin: 15px 15px;
}

.paragraph{
    font-family: var(--font-family-secondary);
    line-height: 1.5;
    font-size: 0.9rem;
    color: grey;
}

.content-perfume-title{
    font-size: 0.8rem;
    letter-spacing: 6px;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-primary);
    color: grey;
}

.price-group{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
  
}

.product-price{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
   
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-primary);
    border-radius: 8px;
    border: none;
    padding: 1rem;
    width: 100%;
    font-weight: var(--font-weight-secondary);
    font-size: 1rem;
    color: white;

}


