
:root{
    --color-primary: hsl(158, 36%, 37%);
    --color-secondary: hsl(158, 42%, 18%);

    --color-neutral-black: hsl(212, 21%, 14%);
    --color-neutral-grey: hsl(228, 12%, 48%);
    --color-neutral-cream: hsl(30, 38%, 92%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --font-family-primary: "Fraunces", serif;
    --font-family-secondary: "Montserrat", sans-serif;

    --font-weight-primary: 500;
    --font-weight-secondary: 700;
}

body{
    font-weight: var(--font-weight);
    font-family: var(--font-family-primary);
    font-size: 1rem;
    background-color: var(--color-neutral-cream);
    display: flex;
    justify-content: center;
}

img{
    display: block;
    max-width: 100%;
}

.container{
    display: flex;
    max-width: 650px;
    background-color: var(--color-neutral-white);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 100px;
    
}

.picture-img, 
.content{
    flex: 1;
}
/* this makes the image 50% and text 50%, because all flex items inside the container will occupy the same space*/

.content{
    border: 2px solid red;
}

.content-perfume{
    font-size: 15px;
    letter-spacing: 6px;
}

.price-group{
    display: flex;
    align-items: center;
    gap: 20px;
  
}

.product-price{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
}


