
:root{
    --color-primary: hsl(158, 36%, 37%);
    --color-secondary: hsl(158, 42%, 18%);

    --color-neutral-black: hsl(212, 21%, 14%);
    --color-neutral-grey: hsl(228, 12%, 48%);
    --color-neutral-cream: hsl(30, 38%, 92%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --font-family: "Montserrat", sans-serif;
    --font-weight: 500;
}

body{
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 1rem;
    background-color: var(--color-neutral-cream);
    display: flex;
    justify-content: center;


}

img{
    display: block;
    max-width: 100%;
}

.container{
    display: flex;
    max-width: 650px;
    background-color: var(--color-neutral-white);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 100px;
    
}

